body{
    width: 800px; 
    margin: 0 auto;
}

img {
    width: 200px;
    height: 200px;
    padding: 10px; 
}

/*Typography*/
header, footer{
    font-weight: bold;
    font-size: 30px;
}

/*Headings*/
h1, h2, header, footer{
    text-align: center;
}

/*genera*/
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

/*general*/
div {
    background-image: url(images/phone_globe.jpg);
    background-repeat: no-repeat;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    display: flex;
}

.rotate img
{
  animation: rotation .3s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}